
module traefik_acme 1.0;

require {
	type container_t;
	type user_home_t;
	class file { open read write };
}

#============= container_t ==============
allow container_t user_home_t:file { open read };

#!!!! This avc is allowed in the current policy
allow container_t user_home_t:file write;
