**/secret.hpp
**/secrets.json
**/.env
**/.DS_Store
**/node_modules

**/*.bin
**/*.elf
**/*.map

**/*.pub

**/id_rsa.*
**/id_rsa

!/bin/mqtt-emeteur.ino.bin
# !/homebridge/proxy-inverse/.env



# Volunme docker
homebridge/volume-host/
homebridge/volume/

**/copy_files*/
**/copy_files/
