**/secret.hpp
**/secrets.json
**/.env
**/.DS_Store
**/node_modules

**/*.bin
**/*.elf
**/*.map

!/bin/mqtt-emeteur.ino.bin
!/homebridge/proxy-inverse/.env



# Volunme docker
homebridge/volume-host/
homebridge/volume/
