[Unit]
Description=Regular background program processing daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/cron -f
Restart=on-failure

[Install]
WantedBy=multi-user.target
